<!-- Styles -->
<style>
body { background-color: #30303d; color: #fff; }
#mapdiv {
  width: 100%;
  height: 100%;
}
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/dark.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

<!-- Chart code -->
<script>

  var map = AmCharts.makeChart( "mapdiv",
    {

        "type": "map",
        "theme": "dark",
        "projection": "mercator",
        "dataProvider":
          {
              "map": "worldLow",
              "getAreasFromMap": true,
                "lines": [
                  {
                    "lineId" : "lineaUno",
                    "latitudes": [23.6345, 59.3293],
                    "longitudes": [-102.5528, 18.0686]
                  }
                ]
          },

        "areasSettings":
          {
           "autoZoom": true
          },

        "zoomControl":
          {
          "zoomControlEnabled": false,
          "homeButtonEnabled": false
          },

      "linesSettings":
          {
            "arc": -0.7,
            "arrow": "middle",
            "color": "#CC0000",
            "alpha": 0.4,
            "arrowAlpha": 1,
            "arrowSize": 4
        },

      "backgroundZoomsToTop": true,
      "linesAboveImages": true
  }
);

    function onLoad() {
        map.dragMap = false;
        map.mouseEnabled = false;
        map.dataProvider.linkToObject = 'MX';
        map.validateNow();
    }

    onLoad();

  function selectCountry(country) {
      var area = map.getObjectById(country);
      map.dataProvider.linkToObject = country;
      console.log(area.title + area.description + area.percent);
      map.validateNow();
  }


  </script>

<!-- HTML -->
<div id="mapdiv"></div>